body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    flex: 1 0 auto;
}

.navbar-image{
    vertical-align: middle;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.songs-wrapper{
    padding: 10px;
}

.wrap-10{
    padding: 10px;
}

.audio-player{
    margin-top: 5px;
    width: 90%;
}