@(artista: Artista, canciones: List[Cancion])
@main(artista.getUsuario + " - NCSongs"){
    <div class="row">
        <div class="col s12 l12">
            <h4 class="white-text center">@artista.getNombre - <span class="thin">@@@artista.getUsuario</span></h4>
        </div>
        <div class="col s12 l6">
            <div class="songs-wrapper">
                @for(c <- canciones){
                    @cancionTemplate(c)
                }
                @if(canciones.isEmpty){
                    <p class="white-text">No tienes canciones agregalas <a href="@routes.CancionController.pageAddCancion()">aqu&iacute;</a>!</p>
                }
            </div>
        </div>
        <div class="col s12 l6 white-text">
            <div class="wrap-10">
                <h5>Eliminar Artista</h5>
                <form action="@routes.ArtistaController.delete(artista.getId)" method="POST">
                    @helper.CSRF.formField
                    <div class="input-field col s12">
                        <input id="contrasena" type="password" name="contrasena" class="validate" required/>
                        <label for="contrasena">Contraseña</label>
                    </div>
                    <button class="btn btn-block waves-effect waves-light red darken-1" type="submit" name="action">Eliminar artista
                        <i class="material-icons right">clear</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col s12 l12 white-text">
            <div class="wrap-10">
                <h5>Modificar nombre del artista</h5>
                <form action="@routes.ArtistaController.modify(artista.getId)" method="POST">
                    @helper.CSRF.formField
                    <div class="input-field col s12">
                        <input id="nombre" type="text" name="nombre" class="validate" required/>
                        <label for="nombre">Nombre Artistico</label>
                    </div>
                    <button class="btn btn-block waves-effect waves-light red darken-1" type="submit" name="action">Modificar artista
                        <i class="material-icons right">subject</i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col s12" class="white-text">
            <div class="wrap-10">
                <a class="btn waves-effect waves-light red darken-1" href="mail:@artista.getEmail">Contactame<i class="material-icons right">email</i></a>
            </div>
        </div>
    </div>
}