@(cancionForm: Form[Cancion], artistas: List[Artista])
@main("Nueva Cancion - NCSongs"){
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <h3 class="white-text">Agregar una Canción</h3>
            <form method="POST" class="white-text" action="@routes.CancionController.addCancion()" enctype="multipart/form-data">
                @helper.CSRF.formField
                <div class="input-field col s12">
                    <input id="nombre" type="text" name="nombre" required class="validate @if(cancionForm("nombre").hasErrors){invalid}"/>
                    <label for="nombre">Titulo de la canción</label>
                </div>
                <div class="input-field col s12">
                    <select class="" name="artista_id">
                        <option value="" selected>Anonimo</option>
                        @for(a <- artistas){
                            <option value="@a.getId()">@a.getNombre()</option>
                        }
                    </select>
                    <label>Artista</label>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn red darken-1">
                        <span>File</span>
                        <input type="file" name="file" accept=".mp3" required>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" placeholder="Limite 5MB" type="text">
                    </div>
                </div>
                <button class="btn waves-effect waves-light red darken-1" type="submit" name="action">Agregar</button>
                @for(error <- cancionForm.allErrors()){
                    <p>@error.format(messages())</p>
                }
            </form>
        </div>
    </div>
}