@(canciones: List[Cancion])

@main("NCSongs") {
    <div class="row">
        <div class="col s12">
            <div class="songs-wrapper">
                <h4 class="white-text">&Uacute;ltimas canciones</h4>
                @for(c <- canciones){
                    @cancionTemplate(c)
                }
            </div>
        </div>
    </div>
}
