@(artistaForm: Form[Artista])
@main("Registrate - NCSongs"){
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <form method="POST" class="white-text" action="@routes.ArtistaController.addArtista()">
                <h4>Nuevo Artista</h4>
                @helper.CSRF.formField
                <div class="input-field col s12">
                    <input id="usuario" type="text" name="usuario" class="validate" required/>
                    <label for="usuario">Nombre de Usuario</label>
                </div>
                <div class="input-field col s12">
                    <input id="nombre" type="text" name="nombre" class="validate @if(artistaForm("nombre").hasErrors){invalid}" required/>
                    <label for="nombre" data-error="@for(error <- artistaForm("nombre").errors){@error.format(messages())}">Nombre Artistico</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate" required/>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="contrasena" type="password" name="contrasena" class="validate" required minlength="6"/>
                    <label for="contrasena">Contraseña</label>
                </div>
                <button class="btn waves-effect waves-light red darken-1" type="submit" name="action">Registrarme
                    <i class="material-icons right">send</i>
                </button>
                @if(artistaForm.hasGlobalErrors) {
                    <p class="error">
                        @for(error <- artistaForm.globalErrors) {
                            <p>@error.format(messages())</p>
                        }
                    </p>
                }
            </form>
        </div>
    </div>
}